*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1 */
#meu-titulo {
    color: rgb(0, 0, 0);
    height: 239px; /* altura */
    width: 463px; /* largura da caixa */
    border-radius: 0px;
    padding: 62px 8px 62px 8px;
    float: left; /*  */
    font-size: 80px;
    text-align: center;
    background-color: #d9d9d9;
    
    padding: 70px 0 0 10px ; /* top-bottom & right-left*/
}  
    
.menu {
    float: right;
}     
.menu ul{
   list-style: none;
}
.menu ul li{
    display: inline-block;
    padding: 0 10px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    background-color: #d9d9d9;
    font-style: bold;
    font-size: 50px;
    width: 224px;
    height: 250px;
    display: inline-block;
    text-align: center;
    padding: 90px 0 0 9px;
}
#conteudo{
    clear: left; /*fala para o elemento não ocupar o espço aberto acima dele */
}