*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*
    justify-content(horizontal)
    align-items: stretch;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: space-around;faz com que tenha espaçamento entre os itens
    justify-content: center
    justify-content: flex-end;
    justify-content: flex-start;  
    flex-direction: row-reverse;
    flex-wrap - wrap /faz com que o o texto quebre a lina ocnforme a formatação do texto/*/
}