*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* header */

}

#meu-titulo{
    width: 467px;
    height: 250px;
    background: #D9D9D9;
    float: left;
    font-size: 80px;
    text-align:center;
    font-style: bold;

    padding: 75px 0 10px 0;
    }

.menu ul{
    float: right;
    list-style: none;
}
.menu ul li{
    display: inline-block;
    padding: 0 10px;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    background-color: #D9D9D9;
    font-size: 50px;
    font-style: bold;
    width: 224px;
    height: 250px;
    display: inline-block;
    text-align: center;
    

}

#conteudo{
    clear: left;
}