* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Exercício
    Passar o código do figma para este arquivo, respeitando  */

/* 
h1
 */

 .meu-titulo {
    width: 467px;
    height: 250px;
    background-color: azure;
    float: left;

    font-size: 80px;
    text-align: center;
    font-style: bold;

    padding: 75px 0 0px 9px;
 }

 #sobre {
    clear: left;
 }


