*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
h1
*/
#meu-titulo {
    width: 467px;
    height: 250px;
    background-color: #d9d9d9;
    float: left;

    font-size: 80px;
    text-align: center;

    padding: 75px 0 10px 0;

}

.menu{
    float: right;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    background-color: #d9d9d9;
    font-size:  50px;
    font-style: bold;
    width: 224px;
    height: 250px;
    display: inline-block;
    text-align: center;
    padding: 90px 9px;
}

#sobre{
    clear: left;
}