 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
nav{
    border: 2px solid red;
    padding: 0 10px 
}
.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;

    /* flex-direction: row 
    flex-direction: row-reverse
    flex-direction: column;
    flex-direction: column-reverse;
    */
}

Exercício
Transformar os estilos do cabeçalho de CSS tradicional em Flexbox.cabecalho
Desafio::afterUtilizar o flex-grow para os flex itens 







