* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* 
h1
 */

#meu-titulo{
  width: 467px;
  height: 250px;
  background-color: #FF4043;
  float: left;
  font-size: 80px;
  text-align: center;
  font-style: bold;
  padding: 75px 0px 10px 0px;
}

#sobre{
    clear: left;
}

.menu {
    float: right;
}
.menu ul{
  list-style: none;
}

.menu ul li{
  display: inline-block;
  padding: 0px 10px;
  
}

.menu ul li a{
  text-decoration: none;
  color: #000000;
  background-color: #FF4043;
  font-size: 50px;
  font-style: bold;
  width: 224px;
  height: 250px;
  display: inline-block;
  text-align: center;
  padding: 90px 9px;
  
}

