* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
h1
**/
#topo{
    width: 467px;
    height: 250px;
    background-color: #d9d9d9;
    float: left;
    /* texto  */
    font-size: 80px;
    text-align: center;
    font-style: bold;
    padding: 68px 23px;

}
#sobre{
    clear: left;
}