*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#meu-titulo{
    width: 467px;
    height:250px;
    background-color: #d9d9d9;
    float: left;

    font-size: 80px;
    text-align: center;
    font-style: bold;

    padding: 70px 0 10px 0;
}

#sobre{
    clear: left;
}